/*Create by Tony Scialo*/

body{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

.parallax-container{
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.title-container{
	height: 800px;
	background-image: url("images/Mountain.jpg");
	/*width: 70%;*/
	margin: 0 auto;
}

.title-overlay{
	/*background-color: #000;
	opacity: .7;*/
	width: 100%;
	height: 1000px;
	background-color: rgba(0,0,0,.2);
}
.name-container{
	width: 800px;
	margin: 0 auto;
	padding-top: 285px;
	text-align: center;
}

.name{
	color: #fff;
	/*background-color: #fc6454;*/
	font-size: 87px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 16px;
	display: inline-block;
	border-radius: 8px;
}

.my-name-is, .what-i-do{
	color: #fff;
	font-size: 30px;
	font-weight: 100;
	font-style: italic
}

.what-i-do{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 10px;
    padding: 8px 0;
}

.name-letter{
	font-size: 60px;
	color: #fff;
	float: left;
	padding-right:50px;
	width: 120px;
}

#beautifulWrapper{
	color: #fc6454;
	display: inline-block;
	width: 120px;

}

.hidden-title-word{
	display: none;
	position: absolute;
}

.first-letter-one{
	color: #BF55EC;
	border-bottom: 2px solid #BF55EC;
}

.first-letter-two{
	color: #1BBC9B;
	border-bottom: 2px solid #1BBC9B;
}

.name-row{
	float: left;
	margin-bottom: 30px;
}

.name-row :nth-child(3){
	padding-right: 0;
}

.pulse-icon{
	border: 1px solid #fff;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	animation: pulsate 1500ms ease-in-out;
	animation-iteration-count: infinite;
	position: absolute;
}

@keyframes pulsate{
	0%{transform: scale(0.9, 0.9); opacity: 0.0;}
	50%{opacity: 0.3;}
	90%{transform: scale(1.1, 1.1); opacity: 0.0;}
	100%{opacity: 0.0;}
}

.pulse-icon-arrow{
	margin: 14px 0 0 14px;
}

.menu-button{
	position: fixed;
	top: 0;
	right: 0;
	background-color: #fff;
	width: 74px;
	height: 48px;
	float: right;
	margin-right: 40px;
	padding-top: 12px;
	border-radius: 0 0 3px 3px;
	z-index: 5;
	border: 1px solid #c0c2c7;
	border-top-style: none;
}

.horizontal-line{
	background-color: #fc6454;
	width: 48%;
	/*display: block;*/
	height: 4px;
	/*margin: 0 auto 6px auto;*/
	position: absolute;
	margin-top: 10px;
	margin-left: 19px;
}

.horizontal-top-line{
	transform: translateY(-8px);
}

.horizontal-bottom-line{
	transform: translateY(8px);
}

.horizontal-top-line, .horizontal-middle-line, .horizontal-bottom-line{
	transition: all 277ms ease-in-out;
}

.menu-button:hover{
	cursor: pointer;
	cursor: hand;
}

.menu-button:hover .horizontal-top-line{
	transform: translateY(-10px);
	background-color: #fc6454;
}

.menu-button:hover .horizontal-middle-line{
	background-color: #fc6454;
}

.menu-button:hover .horizontal-bottom-line{
	transform: translateY(10px);
	background-color: #fc6454;
}

.menu-button.menu-button-open .horizontal-middle-line{
	visibility: hidden;
}

.menu-button.menu-button-open .horizontal-top-line{
	-webkit-animation: horizontal-move-down 500s forwards;
	animation: horizontal-move-down 500ms forwards;
}

.menu-button.menu-button-open .horizontal-bottom-line{
	-webkit-animation: horizontal-move-up 500s forwards;
	animation: horizontal-move-up 500ms forwards;
}

@-webkit-keyframes horizontal-move-down{
	0%{transform: translateY(-8px);}
	50%{transform: translateY(0px);}
	100%{transform: rotate(-45deg);}
}

@keyframes horizontal-move-down{
	0%{transform: translateY(-8px);}
	50%{transform: translateY(0px);}
	100%{transform: rotate(-45deg);}
}

@-webkit-keyframes horizontal-move-up{
	0%{transform: translateY(8px);}
	50%{transform: translateY(0px);}
	100%{transform: rotate(45deg);}
}
@keyframes horizontal-move-up{
	0%{transform: translateY(8px);}
	50%{transform: translateY(0px);}
	100%{transform: rotate(45deg);}
}

.menu{
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	background-color: #fc6454;
	width: 400px;
	margin-right: -400px;
}

.menu-options-container{
	margin-top: 186px;
	text-align: right;
	width: 100%;
	padding-right: 50px;
}

.menu-option{
	font-size: 27px;
	color: #fff;
	padding: 16px 0;
}

.menu-option:hover{
	color: #000;
	cursor: pointer;
	cursor: hand;
}
/*
.menu-icon{
	margin-right: 10px;
}

.menu-option:hover  .menu-icon{
	color: #36D7B7;
}
*/

.title-bottom-section{
	color: #fff;
	font-size: 22px;
	width: 100%;
	margin-top: 215px;
}

.pulse-icon-wrapper{
	margin: 0 auto;
	width: 54px;
	position: relative;
}

.pulse-icon-wrapper:hover{
	color: #fc6454;
	cursor: pointer;
	cursor: hand;
}

.about-me-container{
	background-color: #fff;
	height: 800px;
	width: 100%;
}

.about-me-container-inner{
	width: 70%;
	margin: 0 auto;
}

.about-me-section{
	width: 400px;
	margin: 90px 0 0 100px;
	float: left;
}

.about-me-title{
	font-weight: bold;
	margin-bottom: 4px;
}

.about-me-description{
	letter-spacing: 2px;
	line-height: 180%;
	font-size: 18px;
}

.valhalla{
	font-style: italic;
    color: #CF000F;
}

.about-me-pictures{
	float: left;
	margin-left: 76px;
	margin-top: 28px;
}

.about-me-picture-1 img{
	width: 577px;
}

.adele{
	font-size: 38px;
	text-align: center;
	padding: 60px 0 38px 0;
	font-weight: 100;
}

.skills-container{
	margin: 120px 0;
	overflow: hidden;
}

.skills-block-container{
	width: 186px;
	float: left;
	margin-right: 100px;
}

.skills-block-circle{
	text-align: center;
	border: 1px solid #000;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	font-size: 24px;
	position: absolute;
  margin-left: 163px;
  margin-top: -15px;
  background-color: #000;
  z-index: 2;
  padding-top: 3px;
	font-family: 'Dosis', sans-serif;
}

.skills-block{
	width: 100%;
	border: 3px solid #000;
	border-radius: 7px;
	font-size: 54px;
	font-weight: 200;
	text-align: center;
	height: 92px;
	line-height: 88px;
	font-family: 'Dosis', sans-serif;
}

.skills-container .skills-block-container:nth-child(4n), .hidden-skills-section .skills-block-container:nth-child(4n){
	margin-right: 0px;
}

.hidden-skills-section{
	display: none;
	height: 200px;
}

/*All of the differnt skills blck colors*/
#htmlSkillsBlock .skills-block{
	border-color: #4183D7;
	color: #4183D7;
}

#htmlSkillsBlock .skills-block-circle{
	background-color: #4183D7;
	border-color: #4183D7;
	color: #fff;
}

#cssSkillsBlock .skills-block{
	border-color: #03C9A9;
	color: #03C9A9;
}

#cssSkillsBlock .skills-block-circle{
	background-color: #03C9A9;
	border-color: #03C9A9;
	color: #fff;
}

#jsSkillsBlock .skills-block{
	border-color: #F4B350;
	color: #F4B350;
	font-size: 30px;
}

#jsSkillsBlock .skills-block-circle{
	background-color: #F4B350;
	border-color: #F4B350;
	color: #fff;
}

#javaSkillsBlock .skills-block{
	border-color: #9A12B3;
	color: #9A12B3;
}

#javaSkillsBlock .skills-block-circle{
	background-color: #9A12B3;
	border-color: #9A12B3;
	color: #fff;
}

#jsfSkillsBlock .skills-block{
	border-color: #59ABE3;
	color: #59ABE3;
}

#jsfSkillsBlock .skills-block-circle{
	background-color: #59ABE3;
	border-color: #59ABE3;
	color: #fff;
}

#pfSkillsBlock .skills-block{
	border-color: #F27935;
	color: #F27935;
	font-size: 30px;
}

#pfSkillsBlock .skills-block-circle{
	background-color: #F27935;
	border-color: #F27935;
	color: #fff;
}

#gitSkillsBlock .skills-block{
	border-color: #DB0A5B;
	color: #DB0A5B;
}

#gitSkillsBlock .skills-block-circle{
	background-color: #DB0A5B;
	border-color: #DB0A5B;
	color: #fff;
}

#linuxSkillsBlock .skills-block{
	border-color: #2ECC71;
	color: #2ECC71;
}

#linuxSkillsBlock .skills-block-circle{
	background-color: #2ECC71;
	border-color: #2ECC71;
	color: #fff;
}

.see-more-skills-line{
	height: 1px;
	border-top: 2px solid #c0c2c7;
}

.see-more-skills-label{
	width: 90px;
	height: 45px;
	border-bottom-left-radius: 47px;
	border-bottom-right-radius: 47px;
	border: 2px solid #c0c2c7;
	border-top: 2px solid #fff;
	margin: -2px auto 0 auto;
	text-align: center;
	padding-top: 6px;
	font-size: 14px;
	color: #fc6454;
	box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.2);
}

.see-more-skills-label:hover{
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

#quoteSection{
	height: 800px;
	background-image: url('images/Tony-Scialo-7-pano.jpg');
}

.quote-contianer{
	width: 600px;
	padding-top: 130px;
	margin-left: 5%;
}

.quote-line{
	display: block;
	font-size: 36px;
	color: #fff;
	font-family: 'PT Mono', sans-serif;
	text-align: right;
	padding: 10px 0;
}

.color-quote{
	color: #fc6454;
}

.leonard-cohen{
	font-size: 30px;
	margin-top: 15px;
}

.peeking-picture{
	background-image: url("images/light-coffee-pen-working.jpg");
	/*width: 70%;*/
	margin: 0 auto;
	height: 200px;
}

.peeking-picture-overlay{
	background-color: rgba(54,215,183,0.5);
	width: 100%;
	height: 100%;
}

.web-design-skills{
	height: 600px;
}

.web-design-skills-container{
	width: 95%;
	margin: 0 auto;
	height: 100%;
}

.web-design-skills-container div:nth-child(3){
	border-right: none;
}

.web-design-skill{
	width: 33.3%;
	color: #6C7A89;
	font-size: 30px;
	border-right: 1px solid #36D7B7;
	height: 100%;
	padding: 94px 30px 0 30px;
	float: left;
}

.web-design-skill-icon-container{
	text-align: center;
	margin-bottom: 40px;
}

.web-design-skill-icon{
	font-size: 150px;
	margin-bottom: 40px;
	color: #fc6454;
}

.web-design-skill-title{
	font-weight: 100;
	text-transform: uppercase;
	height: 67px;
}

.web-design-skill-label{
	font-size: 19px;
	font-weight: 100;
	line-height: 200%;
}

.meet-me-section{
	height: 200px;
	background-color: #fc6454;
}

.meet-me-section-title{
	color: #fff;
    font-size: 63px;
    font-weight: 100;
    width: 478px;
    margin: 0 auto;
    padding-top: 63px;
    letter-spacing: 16px;
}

.down-triangle-section{
	height: 50px;
	background-color: #fff;
}

.down-triangle{
	width: 0;
  height: 0;
  border-top: 50px solid #fc6454;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
	margin: 0 auto;
}

.my-bio-section{
	height: 600px;
}

.contact-me-section{
	height: 600px;
}

.cool-project{
	letter-spacing: 2px;
	margin: 150px auto 0 auto;
	font-size: 32px;
	width: 602px;
	font-weight: 100;
}

.email-container{
	margin-top: 56px;
}

.email-icon-container{
	width: 100px;
    margin: 0 auto 12px auto;
	width: 34px;
}

.em-add{
	letter-spacing: 4px;
	margin: 0 auto;
	font-size: 20px;
	width: 400px;
	text-transform: uppercase;
}

.share-me{
	width: 312px;
	margin: 0 auto;
	overflow: hidden;
}

.share-me-title{
	letter-spacing: 2px;
	font-size: 16px;
	width: 176px;
	margin: 0 auto;
}

.share-me span{
	display: block;
	float: left;
	padding: 20px 20px;
	margin: 0 25px;
	border-radius: 5px;
}

.share-me span:hover{
	cursor: pointer;
	cursor: hand;
	color: #fff;
}

#shareMeTwitter:hover{
	background-color: #00aced;
}

#shareMeFacebook:hover{
	background-color: #3b5998;
}
#shareMeGit:hover{
	background-color: #66B849;
}

.copyright{
	padding-bottom: 5px;
	font-weight: 100;
	width: 95px;
	margin: 0 auto;
}

@media only screen and (max-width: 1300px){
	.web-design-skills-container{
		width: 100%;
	}
}

@media only screen and (max-width: 1000px){
	.web-design-skills{
		height: 1400px;
	}

	.web-design-skill{
		width: 100%;
		padding: 50px 0;
		border-right: none;
		height: auto;
	}

	.web-design-skill-label{
		text-align: center;
		padding: 0 95px;
	}
}

@media only screen and (max-width: 850px){
	.name{
		font-size: 70px;
	}

	.name-container{
		width: 608px;
	}
}

@media only screen and (max-width: 700px){
	.name{
		font-size: 35px;
	}

	.name-container{
		padding-top: 110px;
		width: 80%;
	}

	.title-container{
		height: 500px;
	}

	.my-name-is, .what-i-do{
		font-size: 24px;
	}

	.title-bottom-section{
		margin-top: 182px;
	}

}
